<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngIf="displayFriendResult" matColumnDef="friend">
      <th mat-header-cell *matHeaderCellDef> Friends </th>
      <td mat-cell *matCellDef="let friend"> {{friend.name}} </td>
      <button></button>
    </ng-container>

    <ng-container *ngIf="displaySearchResult" matColumnDef="searchResult">
      <th mat-header-cell *matHeaderCellDef> Search Results </th>
      <td mat-cell *matCellDef="let searchResult"> {{searchResult}} </td>
      <button></button>
    </ng-container>

    <ng-container *ngIf="displayMealResult" matColumnDef="mealResult">
      <th mat-header-cell *matHeaderCellDef> {{bld}} </th>
      <td mat-cell *matCellDef="let mealResult"> {{mealResult.Name}} </td>
      <button></button>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>