.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding: 10px;
    margin: 10px;
  
}

/* /deep/ .mat-tab-group .mat-primary .mat-tab-group-dynamic-height{
  min-height: 500px !important;
} */

/* /deep/ .mat-tab-body-wrapper {
  min-height: 700px !important;
} */

/* .fc-media-screen {
  min-height: 500px !important;
}

.fc-scrollgrid .fc-scrollgrid-liquid .fc-daygrid {
  min-height: 500px !important;
}

/deep/ .fc-view-harness {
  min-height: 500px !important;
} */


.mattab-container {
  min-height: 500px !important;
}

/* :host ::ng-deep .mat-tab-body-wrapper {
  height: 600px;

}

:host ::ng-deep .mat-tab-body.mat-tab-body-active {
  height: 600px;

} */

/* .deleteClassBtn {
  position: absolute;
  right:    300;
  bottom:   500;
  z-index: 99999;
} */

/* .container {
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  display: flex;
}
.container .btn-holder {
  justify-content: flex-end;
  display: flex;
} */

.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.flex-box {
  flex-shrink: 0;
  width: max-content;
}

.tooltipclass{
  z-index:99999;
}
  
.example-full-width {
  width: 100%;
}
  
.example-form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
  
/* Style the submit button */
.example-form button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.example-form button:hover {
  background: #0b7dda;
}

/* Clear floats */
.example-form::after {
  content: "";
  clear: both;
  display: table;
}