<app-navbar></app-navbar>
<a class="button" routerLink="/schedule" routerLinkActive="activebutton">Go to schedule</a>


<mat-card class="main-left">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>User name</mat-card-title>
      <mat-card-subtitle>email</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul class="user-fw-status">
        <li>
          <h4>friends</h4>
          <span>155</span>
        </li>
        <li>
          <a href="http://localhost:4200/profile" title="">View Profile</a>
        </li>
      </ul>
    </mat-card-content>
    <!--<mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>-->
</mat-card>

<p>                              </p>

<mat-card class="main-ws">
  <mat-card-header>

    <mat-card-title>Your Due data</mat-card-title>
    <mat-card-subtitle><a href="http://localhost:4200/schedule" title="">View Schedule</a></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>lab 2 CS354</mat-list-item>
      <mat-list-item>due data: 3/2/2021</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>hw 4 CS 448</mat-list-item>
      <mat-list-item>due data: 4/8/2021</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>project CS 407</mat-list-item>
      <mat-list-item>due data: 12/3/2021</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>

  <p>                              </p>

  <mat-card-header>
    <mat-card-title>Your Groups</mat-card-title>
    <mat-card-subtitle><a href="http://localhost:4200/schedule" title="">View Schedule</a></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>lab 2 CS354</mat-list-item>
      <mat-list-item>due data: 3/2/2021</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>hw 4 CS 448</mat-list-item>
      <mat-list-item>due data: 4/8/2021</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>project CS 407</mat-list-item>
      <mat-list-item>due data: 12/3/2021</mat-list-item>
    </mat-list>
  </mat-card-content>
  <!--<mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>-->
</mat-card>

<mat-card class="main-right">
  <mat-card-header>

    <mat-card-title>Your Event</mat-card-title>
    <mat-card-subtitle><a href="http://localhost:4200/event" title="">View Schedule</a></mat-card-subtitle>

  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>Item 1</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 3</mat-list-item>
    </mat-list>
  </mat-card-content>
  <!--<mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>-->
</mat-card>
