<app-navbar></app-navbar>




  <mat-tab-group (selectedTabChange)="onTabClick($event)">
    <mat-tab label="CS 381"></mat-tab>
    <mat-tab label="CS 407"></mat-tab>
    <mat-tab label="CS 373"></mat-tab>
    <mat-tab label="CS 471"></mat-tab>
    <mat-tab label="prove of change"></mat-tab>
  </mat-tab-group>


<app-table [data]='tableargs4' (toFriendPage)='refresh()'>Forth Study Group</app-table>
<app-table [data]='tableargs6' (toFriendPage)='refresh()'>Second Study Group</app-table>
<app-table [data]='tableargs1' (toFriendPage)='refresh()'>First Study Group</app-table>
<app-table [data]='tableargs2' (toFriendPage)='refresh()'>Second Study Group</app-table>
<app-table [data]='tableargs3' (toFriendPage)='refresh()'></app-table>
<mat-card-title class="user-data">Meeting time: {{this.tablemeetingtime | date:"MM/dd/yyyy 'at' h:mma"}}</mat-card-title>


<button id="join" type="button" (click)="clickedjoin(this.user)" class="btn btn-primary">
  Join
</button>

<button type="button" (click)="expanded=!expanded">Invite Users to Study Group</button>
<div class="form-group" *ngIf="expanded">

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Search For Users</mat-label>
      <input matInput placeholder="Placeholder" #search>
    </mat-form-field>
    <app-table *ngIf="displaySearchResult" [data]='tableargs5'></app-table>
  </form>
  <button type="button" (click)="getSearchValue(search.value)">Search!</button>
</div>




