<mat-toolbar color="primary" class="navbar">
    <div>PurduePete</div>
    <div class="logo">
      <a href="http://localhost:4200/home" title="">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      </a>
    </div>
    <div>
      <a class="button" routerLink="/home" routerLinkActive="activebutton">Home</a>
      <a class="button" routerLink="/profile" routerLinkActive="activebutton">Profile</a>
      <a class="button" routerLink="/event" routerLinkActive="activebutton">Events</a>
      <a class="button" routerLink="/dining" routerLinkActive="activebutton">Dining</a>
    </div>
</mat-toolbar>
